h1{
  color:blue;
  background-color:black;
}
 body{
 background-color:grey;
}
p{
  color:black;
  font-size:30px;
}
a{
 color:pink;
 font-size:40px;
}
.mody{
  color:yellow;
}
.and{
  color:red;
  font-size:100px;
}
.del{
  color:red;
}